

<div id="page-form" class="layout-wrapper">

	<header class="layout-header">
		
	<h2 id="logo"><a href="./">Mini</a></h2><!-- end h2#logo -->

	<ul class="social js-sharer">

		<li class="facebook" data-fb-mode="direct"><a href="https://www.facebook.com/MINI.uk">Facebook</a></li><!-- end li.facebook -->
		<li class="twitter"><a href="https://twitter.com/miniuk">Twitter</a></li><!-- end li.twitter -->
		
	</ul><!-- end ul.social -->

</header><!-- end header.layout-header -->

<div id="disabled">
	
	<h2>Please rotate your device</h2>
	<p>This app has been optimised for portrait mode.</p>

</div><!-- end div#disabled -->

	﻿@model Combobulator.Business.ViewModels.FormViewModel

@using (Ajax.BeginForm("NewCustomerSubmit", "Customer", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "formContainer" }))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<div class="layout auto-height">

	@Html.HiddenFor(model => model.UserId, new {@id = "uid", @value = ViewBag.UserId})

	<div class="form-left">
		
		<header>

			<ul class="actions">
				
				<li id="results-back"><a href="./">Go back to results</a></li>

			</ul>

			<h3 class="title">Your details</h3>

		</header>

		<div class="form-content">

			<div class="form-control half-width">

				<div class="select">

					@Html.DropDownListFor(model => model.Title, new SelectList(Model.Titles, "Name", "Name"),  "Title")

				</div>

			</div>

			<div class="form-control append user full-width">

				@Html.TextBoxFor(model => model.FirstName, new {@type = "text", @id="name", @placeholder="First name"})
				<span class="field-icon"></span>

			</div>

			<div class="form-control append user full-width">

				@Html.TextBoxFor(model => model.LastName, new {@type = "text", @id="surname", @placeholder="Last name"})
				<span class="field-icon"></span>

			</div>

			<p class="notice">Please give us your email address if you'd like to hear about MINI adventures from MINI UK, MINI Financial Services and approved MINI Retailers. From time to time you may also get news from other BMW Group companies, approved BMW Retailers, BMW agents and other suppliers of BMW or MINI branded products or services by email.</p>

			<div class="form-control append mail full-width">

				@Html.TextBoxFor(model => model.Email, new {@type = "email", @id="email", @placeholder = "E-mail address"})
				<span class="field-icon"></span>

			</div>

			<p class="notice">Please give at least one phone number.</p>

			<div class="form-control append phone full-width">

				@Html.TextBoxFor(model => model.TelephoneHome, new {@type = "tel", @id = "tel-home", @placeholder = "Home telephone"})
				<span class="field-icon"></span>

			</div>

			<div class="form-control append phone full-width">

				@Html.TextBoxFor(model => model.TelephoneWork, new {@type = "tel", @id = "tel-work", @placeholder = "Work telephone"})
				<span class="field-icon"></span>

			</div>

			<div class="form-control append phone full-width">

				@Html.TextBoxFor(model => model.TelephoneMobile, new {@type = "tel", @id = "tel-mobile", @placeholder = "Mobile telephone"})
				<span class="field-icon"></span>

			</div>

			<div class="inline">

				<div class="form-control append home half-width">

					@Html.TextBoxFor(model => model.AddressPostcode, new {type = "text", id = "postcode", placeholder = "Postcode"})
					<span class="field-icon"></span>

				</div>

				<div class="form-control half-width">
				
					<div id="address-type-chooser" class="form-control">

						<div class="checkbox checkbox-radio">
							<label for="address-type-home">Home</label>

							@Html.TextBoxFor(model => model.AddressType, new { @type="radio", @id="address-type-home", @name="address-type", @value="home", @checked="checked"})

						</div>

						<div class="checkbox checkbox-radio">
							<label for="address-type-work">Work</label>

							@Html.TextBoxFor(model => model.AddressType, new { @type = "radio", @id = "address-type-work", @name = "address-type", @value = "home"})

						</div>				

					</div>
					
				</div><!-- end div.form-control half-width -->

			</div><!-- end div.inline -->

			<div id="address-chooser">
				
				<div class="form-control disabled">

					<div class="select disabled">

						<select disabled="disabled">

							<option value="">Choose your address</option>

						</select>

					</div>

				</div>

			</div><!-- end div#address-chooser -->

			<div class="form-control disabled append home full-width">

				@Html.TextBoxFor(model => model.AddressLine1, new {@type = "text", @id = "address-1", @placeholder = "Address line 1", @disabled = "disabled"})
				<span class="field-icon"></span>

			</div>

			<div class="form-control disabled append home full-width">

				@Html.TextBoxFor(model => model.AddressLine2, new {@type = "text", @id = "address-2", @placeholder = "Address line 2", @disabled = "disabled"})
				<span class="field-icon"></span>

			</div>

			<div class="form-control disabled append home full-width">

				@Html.TextBoxFor(model => model.AddressLine3, new {@type = "text", @id = "address-3", @placeholder = "Address line 3", @disabled = "disabled"})
				<span class="field-icon"></span>

			</div>

			<div id="dealer-chooser">
				
				<div class="form-control disabled">

					<div class="select disabled">

						<select disabled="disabled">

							<option value="">Choose your nearest dealer</option>

						</select>

					</div>

				</div>

			</div><!-- end div#dealer-chooser -->

		</div><!-- end div.form-content -->

		<div id="thanks-left">
			
			<h3>Nice one.</h3>
				
			<p>A friendly MINI Dealer will be in contact soon. (We’ve sent an email to your inbox with all the info.) Until then, why not make your MINI one in a million with our configurator?</p>

		</div><!-- end div#thanks-left -->

	</div><!-- end div.form-left -->

	<div class="form-right">

		<figure id="form-car" class="model-image">

			<img src="assets/cars/none.png" class="img-base" />
			
		</figure><!-- end figure#car -->
		
		<div class="form-content">

			<div class="form-control">
				
				<div class="checkbox">
					<label for="finance">Please tick here if you are interested in MINI finance options.</label>

					@Html.CheckBoxFor(model => model.RequestCallback, new { @id="finance", @value="1"})

				</div>

			</div>

			<p class="notice">Here at MINI, we'd like to get in touch with you to share news on our latest MINI adventures and other products and services you might be interested in. We may also contact you for market research reasons, so we can find out what you think of MINI, and in turn we can learn a bit more about you.</p>
			<p class="notice">Your personal details are only shared with other BMW Group companies, authorised BMW and MINI Retailers, BMW i agents and other suppliers of BMW or MINI branded products or services for these reasons. Have a look at our privacy policy for more information. </p>

			<div id="optout-chooser" class="form-control">

				<p>Just pop a tick in the relevant box if you'd prefer NOT to be contacted</p>
				
				<div class="checkbox">
					<label for="optout-phone">by phone</label>				

					@Html.CheckBoxFor(model => model.RequestCallback, new { @id="optout-phone", @value="1"})

				</div>

				<div class="checkbox">
					<label for="optout-post">by post</label>
					

					@Html.CheckBoxFor(model => model.EmailResults, new { @id="optout-post", @value="1"})

				</div>

			</div>

			<div class="form-control">

				<button type="submit" class="button switch-bg">Submit</button>

			</div>

		</div><!-- end div.form-content -->

		<div id="thanks-right">

			<h4 class="item switch-color">Mollycoddle your Mini.</h4>
			<p>Keep your MINI cotton-wool wrapped with MINI Insurance.</p>

			<hr />

			<h4 class="item switch-color">Keep it covered.</h4>
			<p>Protect your MINI’s working parts with a MINI Warranty.</p>

			<hr />

			<h4 class="item switch-color">Get connected.</h4>
			<p>Enjoy your beats, tweets and calendar meets on screen with MINI Connected.</p>

		</div><!-- end div#thanks-right -->

	</div><!-- end div.form-right -->

	}

</div><!-- end div.layout -->

	<footer class="layout-footer">
		
	<p><a id="terms-link" href="http://www.mini.co.uk/legal-notice/" target="_blank">Terms and Conditions</a></p>

</footer><!-- end footer.layout-footer -->

</div><!-- end div#page-form.layout-wrapper -->