

<div id="page-form" class="layout-wrapper">

	<header class="layout-header">
		
	<h2 id="logo"><a href="./">Mini</a></h2><!-- end h2#logo -->

	<ul class="social js-sharer">

		<li class="facebook" data-fb-mode="direct"><a href="https://www.facebook.com/MINI.uk">Facebook</a></li><!-- end li.facebook -->
		<li class="twitter"><a href="https://twitter.com/miniuk">Twitter</a></li><!-- end li.twitter -->
		
	</ul><!-- end ul.social -->

</header><!-- end header.layout-header -->

	@model Combobulator.Business.ViewModels.FormViewModel@{ViewBag.Title = "MINI Combobulator Form"; }

@using (Ajax.BeginForm("Submit", "Form", new AjaxOptions { HttpMethod = "POST" }, new {autocomplete ="off"})){@Html.AntiForgeryToken()@Html.ValidationSummary(true)



<div class="form-sumbitting-overlay">

	<div class="v-center-wrap">
		<div class="v-center-content">
	
			<div class="combobulate-spinning">
		
				<img src="assets/img/tpl-button.gif" class="img-base">

					<div class="control start">
			
						<div id="start">
				
							<div class="button-inner switch-bg">Combobulate</div><!-- end div.button-inner -->

						</div>

					<div class="shape"></div><!-- end div.shape -->

				</div><!-- end div.control start -->
		
			</div><!-- end div.res-wrap -->

			<p><br/>Form submitting...</p>
		</div>
	</div>

</div>




<div id="page_form" class="layout layout-default">

	<ul class="actions">

		<li id="results_recombobulate"><a href="./">Recombobulate</a></li>
		<li id="results_back"><a href="#" onClick="history.go(-1);return false;">Go back</a></li>

	</ul>

	@Html.HiddenFor(model => model.UserId, new {@id = "userid", @Name="userid", @value = ViewBag.UserId})

	<div class="form-left">

		<!-- ****************************************************************************** -->
		<!-- FORM CONTENT -->

		<div class="form-content">

			<h3 class="title">ALMOST THERE</h3>
			<p>Think this MINI might be for you? Let your preferred MINI Centre work out how you can get your hands on it. Just pop in your details, and they'll be in touch with everything you need to know.</p>

			<div class="form-control form-control-select half-width">

				<div class="select">

					@Html.DropDownListFor(model => model.Title, new SelectList(Model.Titles, "Name", "Name"), "Title", new { Name = "title" })

				</div>

			</div>

			<div class="form-control form-control-input append user full-width">

				@Html.TextBoxFor(model => model.FirstName, new { @type = "text", @id = "name", Name = "name", @placeholder = "First name" })
				<span class="field-icon"></span>

			</div>

			<div class="form-control form-control-input append user full-width">

				@Html.TextBoxFor(model => model.LastName, new { @type = "text", @id = "surname", Name = "surname", @placeholder = "Last name" })
				<span class="field-icon"></span>

			</div>

			<div class="form-control form-control-input append mail full-width">

				@Html.TextBoxFor(model => model.Email, new { @type = "email", @id = "email", Name = "email", @placeholder = "E-mail address" })
				<span class="field-icon"></span>

			</div>

			<p class="notice">By providing your email address you agree to hear from BMW Group companies, authorised BMW or MINI Centres, BMW i agents and other suppliers of BMW or MINI branded products and services about the latest news on our vehicles and and other products and services by email. We may occasionally ask for your assistance in market research to help improve our service to customers. Have a look at our <a href="http://www.mini.co.uk/privacy-policy/?_ga=1.57454506.1480298000.1427200403
" target="_blank">privacy policy</a> for more information.  </p>

			<div class="form-control form-control-input append phone full-width">

				@Html.TextBoxFor(model => model.TelephoneHome, new { @type = "tel", @id = "tel_home", Name = "tel_home", @placeholder = "Telephone" })
				<span class="field-icon"></span>

			</div>

			<div class="inline">

				<div class="form-control form-control-input append home half-width">

					@Html.TextBoxFor(model => model.Postcode, new { type = "text", id = "postcode_search", Name = "postcode_search", placeholder = "Postcode" })
					<span class="field-icon"></span>

				</div>

				<div class="form-control half-width">

					<div id="address_type_chooser" class="form-control form-control-input-checkbox">

						<div class="checkbox checkbox-radio">

							@Html.TextBoxFor(model => model.AddressType, new { @type = "radio", @id = "address_type_home", @Name = "address_type", @Value = "home", @checked = "checked" })
							<label for="address_type_home">Home</label>

						</div>

						<div class="checkbox checkbox-radio">

							@Html.TextBoxFor(model => model.AddressType, new { @type = "radio", @id = "address_type_work", @Name = "address_type", @Value = "work" })
							<label for="address_type_work">Work</label>

						</div>

					</div>

				</div><!-- end div.form-control half-width -->

			</div><!-- end div.inline -->

			<div class="form-control form-control-button">
				
				<a href="#" id="address_lookup" class="button cta">Address lookup</a><span class="loader-inline">Searching</span>

			</div>

			<div id="address_chooser">

				<div class="form-control form-control-select disabled">

					<div class="select disabled">

						<select disabled="disabled">

							<option value="">Choose your address</option>

						</select>

					</div>

				</div>

			</div><!-- end div#address_chooser -->

			<div class="form-control form-control-input disabled append home full-width">

				@Html.TextBoxFor(model => model.AddressLine1, new { @type = "text", @id = "address_1", @Name = "address_1", @placeholder = "Address line 1", @disabled = "disabled" })
				<span class="field-icon"></span>

			</div>

			<div class="form-control form-control-input disabled append home full-width">

				@Html.TextBoxFor(model => model.AddressLine2, new { @type = "text", @id = "address_2", @Name = "address_2", @placeholder = "Address line 2", @disabled = "disabled" })
				<span class="field-icon"></span>

			</div>

			<div class="form-control form-control-input disabled append home full-width">

				@Html.TextBoxFor(model => model.AddressLine3, new { @type = "text", @id = "address_3", @Name = "address_3", @placeholder = "Address line 3", @disabled = "disabled" })
				<span class="field-icon"></span>

			</div>

			<div class="form-control form-control-input disabled append home full-width">

				@Html.TextBoxFor(model => model.AddressPostcode, new { type = "text", id = "postcode", Name = "postcode", placeholder = "Postcode" })
				<span class="field-icon"></span>

			</div>

			<div id="dealer_chooser">

				<div class="form-control form-control-select disabled">

					<div class="select disabled">

						<select disabled="disabled">

							<option value="">Choose your preferred MINI Centre</option>

						</select>

					</div>

				</div>

			</div><!-- end div#dealer_chooser -->


			<div id="optout_chooser" class="form-control form-control-checkbox">

				<p class="notice">Just pop a tick in the box to opt-in for future communications.</p>
				
				<div class="checkbox">
					@Html.TextBoxFor(model => model.RequestCallback, new { @type = "checkbox", @id = "optout_email", @Name = "optout_email", @value = "email" })
					<label for="optout_email">by email</label>

				</div>
				
				<div class="checkbox">
					@Html.TextBoxFor(model => model.RequestCallback, new { @type = "checkbox", @id = "optout_phone", @Name = "optout_phone", @value = "phone" })
					<label for="optout_phone">by phone</label>

				</div>

				<div class="checkbox">
					@Html.TextBoxFor(model => model.EmailResults, new { @type = "checkbox", @id = "optout_post", @Name = "optout_post", @value = "post" })
					<label for="optout_post">by post</label>

				</div>

			</div>

			<div class="form-control form-control-submit">

				<button type="submit" class="button switch-bg">Submit</button>

			</div>


		</div><!-- end div.form-content -->

		<!-- ****************************************************************************** -->
		<!-- END: FORM CONTENT -->




		<!-- ****************************************************************************** -->
		<!-- START: THANKS CONTENT -->

		<div class="thanks-content">

			<div class="panel panel-framed panel-active">


				<header class="header centred">
							
					<p class="ministry">Ministry of Finance</p>
							
					<h3>Nice one.</h3>

					<p>Your MINI Centre will be in contact soon. (We're sending you an email to your inbox with all the info.) Until then, see what else we’ve got up our sleeve.</p>

				</header><!-- end header.header -->


				<div class="thanks-links">

					<hr />

					<h4 class="item switch-color">

						<a href="@ViewBag.Url" target="_blank">TAKE A CLOSER LOOK.</a>

					</h4>
					<p>Find out more about your MINI and the rest of family.</p>

					<hr />


					<h4 class="item switch-color">
						<a href="http://www.mini.co.uk/offers-and-finance" target="_blank">OFFERS FOR EVERY POCKET.</a>
					</h4>
					<p>Find the right deal for you with our latest finance packages.</p>

					<hr />


					<h4 class="item switch-color">
						<a href="http://www.mini.co.uk/offers-and-finance/insurance" target="_blank">KEEPING MINIS MOLLYCODDLED.</a>
					</h4>
					<p>All you need to know about optional MINI Insurance cover.</p>


				</div>

			</div>

		</div><!-- end div.thanks -->

		<!-- ****************************************************************************** -->
		<!-- END: THANKS CONTENT -->



	</div><!-- end div.form-left -->


	<div class="form-right">
		
		<div id="form_car_wrap">

			<h2 class="switch-color model-name">@ViewBag.Brand <br/> @ViewBag.EngineName <br/> @ViewBag.Model</h2>

			<figure id="form_car" class="model-image">

				<img src="assets/cars/none.png" class="img-base" />

				<img src="@Url.Content("assets/cars/" + @Model.Code + ".jpg")" id="results-car" class="img-content" />

			</figure><!-- end figure#car -->

		</div>

	</div><!-- end div.form-right -->

</div><!-- end div.layout -->

}

	<footer class="layout-footer">
		
</footer><!-- end footer.layout-footer -->

</div><!-- end div#page-form.layout-wrapper -->