	<div id="tools">
		<div id="bgcontrol">

			<h3>Debug tools</h3>

			<span>Change background color to:</span>
			
			<input id="b" type="radio" name="bg" value="blue" checked /><label for="b">Blue</label>
			<input id="r" type="radio" name="bg" value="red" /><label for="r">Red</label>
			<input id="y" type="radio" name="bg" value="yellow" /><label for="y">Yellow</label>
			<input id="l" type="radio" name="bg" value="lime" /><label for="l">Lime</label>
			<input id="w" type="radio" name="bg" value="white" /><label for="w">White</label>

		</div><!-- end div#bgcontrol -->
	</div>

	<div id="dash">
		
		<div id="dash-left">
			
			<div class="top">

				<h5 class="control-title">Bums on seats</h5>

				<div id="c-bums" class="control-wrapper"><div class="control-inner">@Html.Partial("_Controlbums")</div></div>

			</div><!-- end div.top -->

			<div class="middle">

				<div class="inner-left">

					<h5 class="control-title">Mpg</h5>

					<div class="control-wrapper"><div class="control-inner">@Html.Partial("_ControlMpg")</div></div>

				</div><!-- end div.inner-left -->

				<div class="inner-right">

					<h5 class="control-title">Lifestyle</h5>

					<div id="c-lifestyle" class="control-wrapper"><div class="control-inner">@Html.Partial("_ControlLifestyle")</div></div>

				</div><!-- end div.inner-right -->

			</div><!-- end div.middle -->

			<div class="bottom">

				<h5 class="control-title">Luggage</h5>

				<div class="control-wrapper"><div class="control-inner">@Html.Partial("_ControlLuggage")</div></div>

			</div><!-- end div.bottom -->

		</div><!-- end div#dash-left -->

		<div id="dash-middle">
			
			<div class="top">

				<h5 class="control-title">Options</h5>

				<div class="control-wrapper"><div class="control-inner">@Html.Partial("_ControlOptions")</div></div>

			</div><!-- end div.top -->

			<div class="bottom">

				<h5 class="control-title">Speed</h5>

				<div id="c-speed" class="control-wrapper"><div class="control-inner">@Html.Partial("_ControlSpeed")</div></div>

			</div><!-- end div.bottom -->

		</div><!-- end div#dash-middle -->

		<div id="dash-right">
			
			<div class="top">

				<h5 class="control-title">£ per month</h5>

				<div class="control-wrapper"><div class="control-inner">@Html.Partial("_ControlPrice")</div></div>
				
			</div><!-- end div.top -->

			<div class="bottom">

				<h5 class="control-title">Start</h5>

				<div class="control-wrapper"><div class="control-inner">@Html.Partial("_ControlStart")</div><!-- end div.bottom --></div>

			</div>

		</div><!-- end div#dash-right -->

	</div><!-- end div#dash -->