@model Combobulator.Models.Customer

@using (Ajax.BeginForm("NewCustomerSubmit", "Customer", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "formContainer" }))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

	<header>

		<h1 class="title">Almost there.</h1>
		<p>You've found your dream MINI. Now pop in your details so your MINI Dealer can help you get your hands on it.</p>

	</header>

	@Html.EditorFor(model => model.UserId, new { id="uid", value = ViewBag.UserId })

	<div class="fields-left">

		<div class="form-control">

			<div class="select">

				@Html.DropDownListFor(model => model.Title, new SelectList(Model.Titles, "Name", "Name"),  "Title")

			</div>

		</div>

		<div class="form-control append user full-width">

			@Html.TextBoxFor( model => model.FirstName, new { id="field-name", name="name", placeholder="First name" } )​
			<span class="field-icon"></span>

		</div>

		<div class="form-control append user full-width">

			@Html.TextBoxFor( model => model.LastName, new { id="field-surname", name="surname", placeholder="Last name" } )​
			<span class="field-icon"></span>

		</div>

		<div class="form-control append mail full-width">

			@Html.TextBoxFor( model => model.Email, new { type="email", id="field-email", name="email", placeholder="E-mail address" } )​
			<span class="field-icon"></span>

		</div>

		<div class="form-control append phone full-width">

			@Html.TextBoxFor( model => model.TelephoneHome, new { type="tel", id="field-home", name="home", placeholder="Home telephone" } )​
			<span class="field-icon"></span>

		</div>

		<div class="form-control append phone full-width">

			@Html.TextBoxFor( model => model.TelephoneWork, new { type="tel", id="field-work", name="work", placeholder="Work telephone" } )​
			<span class="field-icon"></span>

		</div>

		<div class="form-control append phone full-width">

			@Html.TextBoxFor( model => model.TelephoneMobile, new { type="tel", id="field-mobile", name="mobile", placeholder="Mobile telephone" } )​
			<span class="field-icon"></span>

		</div>

	</div><!-- end div.fields-left -->

	<div class="fields-right">

		<div class="form-control append home full-width">

			@Html.TextBoxFor( model => model.AddressLine1, new { id="field-address-1", name="address-1", placeholder="Address line 1" } )​
			<span class="field-icon"></span>

		</div>

		<div class="form-control append home full-width">

			@Html.TextBoxFor( model => model.AddressLine2, new { id="field-address-2", name="address-2", placeholder="Address line 2" } )​
			<span class="field-icon"></span>

		</div>

		<div class="form-control append home full-width">

			@Html.TextBoxFor( model => model.AddressLine3, new { id="field-address-3", name="address-3", placeholder="Address line 3" } )​
			<span class="field-icon"></span>

		</div>

		<div class="form-control append home full-width">

			@Html.TextBoxFor( model => model.AddressPostcode, new { id="field-postcode", name="postcode", placeholder="Postcode" } )​
			<span class="field-icon"></span>

		</div>

		<div class="form-control">

			<div class="select">

				@Html.DropDownListFor(model => model.Dealer, new SelectList(Model.Dealers, "Name", "Name"), "Dealer")

			</div>

		</div>

		<div class="form-control">
			
			<div class="checkbox">

				<input id="callback" name="callback" type="checkbox" value="1" checked="checked" />
				@Html.LabelFor(model => model.RequestCallback)

			</div>

		</div>

		<div class="form-control">
			
			<div class="checkbox">

				<input id="results" name="results" type="checkbox" value="1" />
				@Html.LabelFor(model => model.EmailResults)

			</div>

		</div>

	</div><!-- end div.fields-right -->

	<div class="form-control">

		<button type="submit">Submit</button>

	</div>

}

<!-- build:remove --></form><!-- /build -->